.button {
  background-color: #fff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #fff;
}

.message {
  font-size: 1.2rem;
  color: #ffffff;
}
